*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: #fae1e5;
}

.first-div {
    height: 100vh;
}

/* Home Section */
.first-bg {
    /* background-color: #ff693a; */
    position: relative;
    /* background-image: url(images/bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover
}

/* .my-name {
    color: #ffffff;
} */

.logo-name span {
    font-size: 2em;
}

.logo-name {
    font-size: 1.75em;
    color: #0015ff;
}

.logo-img {
    border-radius: 4% 30%;
}

.logo {
    font-size: 1.75em;
}

.tab-element li {
    margin: 0.5rem;
    color: black;
}

.tab-element li a {
    padding: 15px;
    color: rgb(0, 0, 0);
}

.tabs {
    font-size: 1.25em;
}

::selection {
    color: #000000;
    background-color: #00ff62;
}

.tabs:hover {
    border-bottom: 2px solid black;
    color: black;
    font-weight: bold;
    transition: a 0.8s;
}

.project {
    height: fit-content;
    margin: 0 auto;
    padding: 4rem 2rem;
    /* color: white; */
}

.row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;
}

.feature-box {
    position: relative;
    width: 300px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 05px 05px 05px rgb(0, 0, 0), -05px -05px 05px rgb(0, 0, 0);

}

.feature-box:hover {
    box-shadow: 05px 05px 02px rgb(0, 0, 0), -02px -02px 02px rgb(0, 0, 0);
    scale: 1.1;
}

.bg {
    top: 5px;
    left: 5px;
    width: fit-content;
    z-index: 2;
    backdrop-filter: blur(54px);
    border-radius: 15px;
    text-align: center;
}

.Pimg {
    width: 100%;
    height: 250px;
    border-radius: 15px;
    border: 1px solid black;
}

.Ph3 {
    color: #111315;
    padding: 5px;
    font-weight: 900;
}